{% extends 'partials/base.html.twig' %}

{% block content %}

    {{ page.content }}
    {% include "forms/form.html.twig" %}
      <style>
        td.message-actions {
            flex: 0.1;
        }
        .pages-list .row {
            padding-right: 1rem;
        }
        .message-text {
            line-height: 1.5rem;
            display: inline-block;
        }
        .pages-list .row p.page-route {
            margin: 0px 0 10px 0px;
        }
        th { background: #d9d9d9; }
        .message     { flex: 3 }
        .date { flex: 1.5 }
        .approve { flex: 1.5 }
        .delete { flex: 1.5 }
        .author { flex: 1.5 }
        .center {
            margin: 0 auto;
            text-align: center;
            display: block;
        }
        .button:active { margin: 0 auto;}
    </style>

    <script>
        $(function() {
            var currentPage = 0;
            $(document).on('click tap', '.js__load', function(event) {
               $.getJSON(window.location + '/page:' + /*(currentPage + 1)*/ "all")
                .success(function(response) {
                    currentPage = parseInt(response.page);
                    var str = '                    <tr class="h">                    <th class="approve">approve</th>                    <th class="delete">delete</th>                    <th class="author">Author</th>                    <th class="message">Message</th>                    <th class="date">Date</th>                    </tr>';
                    $('.js__messages-container').html(str);
                    response.messages.forEach(function(message) {
                        var st = '<tr class="' + message.uuid + '">';
                        if (event.target.id == "all") {
                            if (message.moderated != 1) {
                                st = st + '<td class="approve"> <form> <div class="buttons"> <button type="button" id="' + message.uuid + '" class="button js__approve">approve</button> </div> </form> </td>';

                            } else {
                                st = st + '<td class="approve"> Already Approved </td>';
                            }
                            st = st + '<td class="delete"> <form> <div class="buttons"> <button type="button" id="' + message.uuid + '" class="button js__delete">delete</button> </div> </form> </td> <td class="author">' + message.author + '</td> <td class="message">' + message.text + '</td> <td class="date">' + message.date + '</td>';
                            st = st + '</tr>';
                            $('.js__messages-container').append(st);
                        } else {
                                if (message.moderated != 1) {
                                st = st + '<td class="approve"> <form> <div class="buttons"> <button type="button" id="' + message.uuid + '" class="button js__approve">approve</button> </div> </form> </td>';
                                st = st + '<td class="delete"> <form> <div class="buttons"> <button type="button" id="' + message.uuid + '" class="button js__delete">delete</button> </div> </form> </td> <td class="author">' + message.author + '</td> <td class="message">' + message.text + '</td> <td class="date">' + message.date + '</td>';
                                st = st + '</tr>';
                                $('.js__messages-container').append(st);
                            }
                        }
                    });

                    var totalRetrieved = response.itemsPerPage * (parseInt(response.page) + 1);

                    $('.totalRetrieved').html(totalRetrieved);
                    $('.totalAvailable').html(response.totalAvailable);

                    if (totalRetrieved >= response.totalAvailable) {
                        $('.totalRetrieved').html($('.totalAvailable').html());
                        
                    }
                    $('.js__load').hide();
                    
                })
                .error(function() {
                    alert('Unexpected error');
                });
            });
            $( document ).ready(function() {
                document.getElementById('load').click();
            });
            $(document).on('click tap', '.js__delete', function(event) {
                $.getJSON(window.location + '/delete:' + event.target.id)
                    .success(function(response) {
                        alert("Message has been deleted!");
                         event.target.parentNode.removeChild(event.target);
                         $(event.target.id).hide();
                    }).error(function() {
                    alert('Unexpected error');
                });        
             });
             $(document).on('click tap', '.js__approve', function(event) {
                $.getJSON(window.location + '/approve:' + event.target.id)
                    .success(function(response) {
                        alert("Message has been approved!");
                        event.target.parentNode.removeChild(event.target);
                    }).error(function() {
                    alert('Unexpected error');
                });        
             });
             $(document).on('click tap', '.js__approveAll', function(event) {
                $.getJSON(window.location + '/approveAll:1')
                    .success(function(response) {
                        alert("All messages have been approved!");
                        event.target.parentNode.removeChild(event.target);
                    }).error(function() {
                    alert('Unexpected error');
                });        
             });
        });
    </script>

    {% if grav.twig.guestbookMessages|length %}
        <div class="button-bar">
            <button type="button" class="button js__approveAll">
            <i class="fa fa-check-circle"></i>
                Approve all messages
            </button>
        </div>
        <h1>{{'PLUGIN_GUESTBOOK.MESSAGES'|t}}</h1>
        <div class="admin-block">
            <div class="buttons">
                <button type="button" id="all" class="button js__load">
                    Load All
                </button>
            </div>
            <center>
                <table>
                    <tbody class="js__pages-container">
                        <div class="page-buttons buttons">

                        </div>
                    </tbody>
                </table>
            </center>
            <br />
            <br />
            <table>
                <tbody class="js__messages-container">

                </tbody>
            </table>
            <form>
                <div class="buttons">
                    <button id="load" type="button" class="button js__load">
                        Load more
                    </button>
                </div>
            </form>



        </div>
        <p class="center">Showing <span class="totalRetrieved">0</span> messages of <span class="totalAvailable">0</span></p>

    {% else %}
        <p>No messages yet...</p>
    {% endif %}

{% endblock %}
